---
layout: default
title: blog
---

<div class="sidebar island">

	<h5 class="white">Popular Tags</h5>

	<p class="white">Agriculture, Asia, Bhutan, Children, Economic Empowerment, Education, Entrepreneurship, Health, India, Leadership, Library, Literacy, Livelihood, Training, Nepal, Poverty, Savings, Cooperatives, School, Social Entrepreneurship, South Asia, Sustainability, Sustaining, Enterprise, Technology, Volunteer, Womens Empowerment, Youth</p>

	<h5 class="white">Popular Authors</h5>

	<p class="white">Madeleine Gagné, Shelley Babij, Iman Ghader, Marta Traczyk, Amanda Sparks</p>

	<h5 class="white">Recent Tweets</h5>

	<p class="white"> @READGlobal: We launched 3 new #libraries in #Nepal this winter thanks to @reachouttoasia! Read the blog: http://bit.ly/1EoQw3P (30 min)</p>


</div>


<div class="blog-main">

	<div class="grid island">

		<div class="unit unit-s-1">
			{% include blog-large.html %}
		</div>

	</div>

</div> <!-- end of blog-main -->

<div class="blog-other">

	<div class="grid island">

		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-4 island-1-4">
			{% include blog-small.html title="Access to Information as a 2015 UN Sustainable Development Goal" description="Most of us take for granted our ability to easily access information, almost wherever and whenever we want. Books, computers, and cell phones are standard tools in our homes, schools and offices..." image="blog-1.jpg" alt="book" %}
		</div>

		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-4 island-1-4">
			{% include blog-small.html title="Education in Nepal – A 30 Year Retrospective" description="When I first trekked up to the beautiful blue pilgrimage lake of Gosainkund in Nepal in 1984, the national literacy rate was about 33% (less for women), and the average yearly income was about $160 per person... Infant mortality was very high, and health care was minimal..." image="blog-2.jpg" alt="children using computer" %}
		</div>

		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-4 island-1-4">
			{% include blog-small.html title="READ Nepal recognized for best practices in literacy - Library of Congress" description="READ Nepal was recognized this September for best practices in literacy by the Library of Congress Literacy Award. READ Nepal was recognized for its best practice in increasing motivation to read and write..." image="blog-3.jpg" alt="children reading" %}
		</div>

		<div class="unit unit-s-1-2 unit-m-1-3 unit-l-1-4 island-1-4">
			{% include blog-small.html title="Early childhood education in India – Rural play school " description="More than 80% of brain growth occurs between birth and age six in a child. These early years form perhaps the most crucial period in a person’s life, when the rate of development is very high. For the brain to develop optimally, a child needs a stimulating environment, social interaction, and adequate nutrients..." image="blog-4.jpg" alt="" %}
		</div>
						
	</div>

</div> <!--blog-other-->