---
layout: default
title: Read Global
---

	<div class="grid home-banner header-text">
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<h3>We help build educational opportunities for children like Saeed and Mida.</h3>
		</div>
	</div>

	<div class="grid">
		<div class="unit island unit-s-1">
			<h5 class="light-teal text-center">What we do:</h5>
			<p class="milli text-center what-we-do">READ Centers provide education and economic opportunities to more than 2 million rural villagers.</p>

			<h5 class="light-teal text-center">How we do it:</h5>
			<p class="milli text-center">We establish community library and resource centers (READ Centers) in rural villages in South Asia, where a majority of women are illiterate, and most families live below the poverty line. All of our Centers are owned and operated by the local community, and offer training programs to people of all ages and backgrounds.</p>
		</div>

	</div>

	<div class="grid impact-section">
		<div class="unit unit-s-1">
			<h5 class="light-teal text-center">Our impact:</h5>
		</div>

	  	<div class="island unit unit-s-1 unit-m-1-2 unit-l-1-4">

		    <div class="counter text-center" data-count="2.1">0</div>
		    <h6 class="light-teal text-center"> million rural villagers have access to READ centres</h6 class="light-teal text-center">
		  </div>

		  <div class="island unit unit-s-1 unit-m-1-2 unit-l-1-4">
		    <div class="counter text-center" data-count="77">0</div>
		    <h6 class="light-teal text-center"> READ Centres established to date</h6 class="light-teal text-center">
		  </div>

		  <div class="island unit unit-s-1 unit-m-1-2 unit-l-1-4">
		    <div class="counter text-center" data-count="103">50</div>
		    <h6 class="light-teal text-center"> for-profit enterprises sustin READ Centres</h6 class="light-teal text-center">
		  </div>

		  <div class="island unit unit-s-1 unit-m-1-2 unit-l-1-4">
		    <div class="counter text-center" data-count="220">100</div>
		    <h6 class="light-teal text-center"> villages are served by READ Centres</h6 class="light-teal text-center">
	  	</div>

		<div class="unit island video-container unit-s-1 island">
			<iframe class="video island" width="560" height="315" src="https://www.youtube.com/embed/3mn8YwP7zl8" frameborder="0" allowfullscreen></iframe>

			<p class="white micro island">Since 1991, the READ model has evolved from the idea of a rural library to a thriving network of READ Centers and sustaining enterprises in Bhutan, India and Nepal.</p>
		</div>
	</div>

	<div class="grid blog-section island">

		<div class="unit unit-s-1">

			{% include blog-large.html %}
		</div>

	</div>

			{% include blog-large.html%}
		</div>

	</div>
-->

