<div class="blog-large">

	<h5 class="light-teal text-center peta">Featured Blog Post</h5>

	<img class="blog-image-large" src="{{site.baseurl}}/images/kailashi.jpg">

	<h6 class="text-center teal">Kailashi's Story</h6>

	<p class="text-center">When Kailashi was two years old, her right leg was damaged by polio, and as a result she was never able to walk easily. When she was a child, she was made fun of by her peers because of her condition. Discouraged, Kailashi decided not to go to school, and she was married at age 18. Her husband’s family was not supportive of her because she was illiterate, not physically fit, and unable to provide an income to support the family...<a href="#" class="coral"> Read more.</a></p>

</div>