//////////// ABOUT PAGE STYLING/////////////////////////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h1, h2 {
  margin: 1em 0 0 0;
  text-align: center;
}
h2 {
  margin: 0 0 1em 0;
}
#container {
    margin: 0 auto;
    width: 50%;
}
#accordion input {
  display: none;
}
#accordion label {
  @include skinny;
  @include transition (all, 0.3s, ease-in-out);
  //border-radius: .25em;
  color: #fff;
  height: 10rem;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: .125em;
  padding: 2em 1em;
  z-index: 20;
  font-size: 2.5em;
}

#accordion label:hover {
  @include transition (all, 0.3s, ease-in-out);
  background-color:rgba(0,0,0,0.2);
  @include fat;
}

#accordion input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  margin-bottom: 0;
}
#accordion article {
  background: #fff;
  height:0px;
  overflow:hidden;
  z-index:10;
}
#accordion article p {
  padding: 1em;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
  //border-bottom-left-radius: .25em;
  //border-bottom-right-radius: .25em;
  height: auto;
  margin-bottom: .125em;
}

.accordion-bhutan {
  background: url('../images/bhutan.jpg')no-repeat center center;
}

.accordion-india {
  background: url('../images/india-city-child.jpg')no-repeat center center;
}

.accordion-nepal{
  background: url('../images/nepal-landscape.jpg')no-repeat center center;
}

///////////////////////////////////////////////////////////////////////////////
