/////////// header/nav starts ///////////

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

//PAGE BORDERS:

html:before,html:after,body:before,body:after{
    content:"";
    background:$light-teal;
    position:fixed;
    display:block;
    z-index:100;
}

html:before{
    height:10px;
    left:0;
    right:0;
    top:0;
}
html:after{
    width:10px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:10px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:10px;
    top:0;
    bottom:0;
    left:0;
}

//end of borders


body{
  font-family: sans-serif;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-color: $grey;

  /* background: url("../images/header-home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

  border-left: solid 10px $light-teal;
  border-right: solid 10px $light-teal;
  border-top: solid 10px $light-teal;

  z-index: -99;
}

main{

border-left: solid 10px $light-teal;
border-right: solid 10px $light-teal;

padding: 1em;

}

.fat{
  font-weight: 700;
}

.toggle-btn{
  //position: absolute;
  float: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.close-btn{
  float: right;
  clear: both;
  margin-top: 2em;

}

.btn-donate{
  @include button($light-teal, $dark-teal, $light-teal);
  float: right;
  font-size: 1em;
  font-weight: 700;
  margin-right: 0.5em;
  padding: 0.35em;
}

.navigation ul{
  @include zero;
  clear: both;
  li{
    list-style-type: none;
    display: block;
    padding: 0.5em 0.75em;
    text-align: center;
    position: relative;
    a{
      text-decoration: none;
      font-family:  $body;
      color: $light-teal;
      font-weight: 300;
      font-size: 1.5em;
      &:hover{
        color: $dark-teal;
        font-weight: 700;
      }
    }
    }//li
}//navigation

.toggle-btn,
.close-btn{
  color: $light-teal;
  height:40px;
  width: 40px;
  span{
    @include hide-text;
  }
  i{
    padding: 0.5em;
    &:hover{
      color: $dark-teal;
    }
  }
  &:hover{
    color: $dark-teal;
  }
}


.site-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 99;

    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 200ms, ease-in);
    }//canvas

    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state="slide-open"]{
      //allows nav to have a scroll bar when open
      overflow: visible;
    }

  }//sitewrapper

.slide-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  //min-height: 600px;
}

/////////////////////// HOME PAGE STYLING /////////////////////

.home-banner{
	padding: 1em;
	padding-bottom: 20em;

background: url("../images/header-home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin-bottom: 1em;
  display: block;
}

.header-text{
  padding-top: 1.5em;
  padding-left: 1.5em;
}

.what-we-do{
  //argin-bottom: -1em;
}

.counter {
  font-size:3em;
  font-family: 'Pacifico', cursive;
  color: $dark-teal;
  margin-bottom: 0.25em;
}

.video-container{
  background-color: $dark-teal;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.video{
  position: relative;
  text-align: center;
  margin: 0 auto;
}


//////////// ABOUT PAGE STYLING///////////////////////////////////// //pacifico -google font

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h1, h2 {
  margin: 1em 0 0 0;
  text-align: center;
}
h2 {
  margin: 0 0 1em 0;
}
#container {
    margin: 0 auto;
    //width: 50%;
}
#accordion input {
  display: none;
}
#accordion label {
  @include font-skinny;
  @include transition (all, 0.3s, ease-in-out);
  //border-radius: .25em;
  color: #fff;
  height: 10rem;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-bottom: .125em;
  padding: 2em 1em;
  z-index: 20;
  font-size: 2.5em;
}

#accordion label:hover {
  @include transition (all, 0.3s, ease-in-out);
  background-color:rgba(0,0,0,0.2);
  @include font-regular;
}

#accordion input:checked + label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  margin-bottom: 0;
}
#accordion article {
  background: #fff;
  height:0px;
  overflow:hidden;
  z-index:10;
}
#accordion article p {
  padding: 1em;
}
#accordion input:checked article {
}
#accordion input:checked ~ article {
  //border-bottom-left-radius: .25em;
  //border-bottom-right-radius: .25em;
  height: auto;
  margin-bottom: .125em;
}

.accordion-bhutan {
  background: url('../images/banner-bhutan.jpg')no-repeat center center;
  background-size: cover;
}

.accordion-india {
  background: url('../images/banner-india.jpg')no-repeat center center;
  background-size: cover;
}

.accordion-nepal{
  background: url('../images/banner-nepal.jpg')no-repeat center center;
  background-size: cover;
}

///////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// footer styling

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
		-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

///////////////////   BLOG STYLES   ///////////////////////

.blog-large{
  border: solid 1px $grey;
  width: 100%;
}

.blog-image-large{
  width: 100%;
  padding: 0.5em;
  border: solid 1px $teal;
}

.blog-small{
  border: solid 1px $grey;
  width: 100%;
}

.blog-image-small{
  width: 100%;
  padding: 0.5em;
  border: solid 1px $teal;
}

////////////////////////////search bar starts
.search-form {
	margin-left: 7em;
	margin-top: 2em;
	margin-bottom: 0;
}

form{
	float: left;
	position:relative;
	margin-bottom: 0
}

.search {
	padding:6px 15px 6px 30px;
	//margin:3px;
	background-color: white;
}

.rounded {
	border-radius:15px;
}

input[type=text]{
	color:#bcbcbc;
}

.search-label {
	position: absolute;
	top: -10em;
}

/////////////////////////////// search bar ends

.footer-social {
	float: none;
	margin-top: 2em;
	margin-left: 6em;
	margin-bottom:2em;
}

ul {
	list-style-type: none;
	text-decoration: none;
}

.social li {
	float: none;
}

.social li a,
.social li a:link,
.social li a:visited{
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	padding-top: .8em;
	text-align: center;
	margin-left: 1rem;


	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

	color: #fff;


	-webkit-box-shadow: inset 0px 0px 0px 40px $coral;
	-moz-box-shadow: inset 0px 0px 0px 40px $coral;
	-ms-box-shadow: inset 0px 0px 0px 40px $coral;
	-o-box-shadow: inset 0px 0px 0px 40px $coral;
	box-shadow: inset 0px 0px 0px 40px $coral;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px $coral;
	-moz-box-shadow: inset 0px 0px 0px 3px $coral;
	-ms-box-shadow: inset 0px 0px 0px 3px $coral;
	-o-box-shadow: inset 0px 0px 0px 3px $coral;
	box-shadow: inset 0px 0px 0px 3px $coral;

	color:$coral;
}

footer {
	width: 100%;
	height: 25rem;
	background-color: $grey;
	bottom: 0;
	clear: both;
	font-family: $body;
}

footer p {
	@include font-skinny;
	color: #fff;
}

.footer-link {
	@include font-skinny;
	}

.footer-link a,
.footer-link a:link,
.footer-link a:visited {
	text-decoration: none;
	color: $light-teal;
	border-bottom: 1px $light-teal solid;
}

.footer-link a:hover,
.footer-link a:focus,
.footer-link a:active {
	@include font-regular;
	color: $teal;
	border-bottom: 5px $teal solid;
}

.footer-link a:hover,
.footer-link a:active {
	outline: none;
}

.footer-address,
	.footer-copywright,
	.footer-link {
		margin-left: 2em;
		}


////////// MEDIA QUERY MEDIUM //////////

@media only screen and (min-width: 40em){

  h1{
    font-size: 1.8em;
  }

  .btn-donate{
  font-size: 1.2em;
}

.site-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 99;

    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 200ms, ease-in);
    }//canvas

    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }

    &[data-state="slide-open"]{
      //allows nav to have a scroll bar when open
      overflow: visible;
    }

  }//sitewrapper

.slide-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  min-height: 600px;
}

	footer {
		height: 20em;
	}

	.footer-social {
		margin-bottom: 0;
		margin-right: 2em;
		margin-top:0;
	}

.search-form{
		margin-right:2em;
	}

	form{
		float: right;
	}

	.social li{
		float: right;
	}

	.footer-address,
	.footer-copywright,
	.footer-link {
		float:left;
		margin-left: 2em;
	}

} //media query medium screen


body.noscript .slide-menu{
  position: static;
  right: auto;
}
