.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.footer-social {
	float: none;
	margin-top: 2em;
	margin-right: 2em;
}

ul {
	list-style-type: none;
	text-decoration: none;
}

.social li {
	float: none;
}

.social li a,
.social li a:link,
.social li a:visited{
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	padding-top: .1em;
	text-align: center;
	margin-left: 1rem;


	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;

	color: #fff;


	-webkit-box-shadow: inset 0px 0px 0px 40px $coral;
	-moz-box-shadow: inset 0px 0px 0px 40px $coral;
	-ms-box-shadow: inset 0px 0px 0px 40px $coral;
	-o-box-shadow: inset 0px 0px 0px 40px $coral;
	box-shadow: inset 0px 0px 0px 40px $coral;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px $light-teal;
	-moz-box-shadow: inset 0px 0px 0px 3px $light-teal;
	-ms-box-shadow: inset 0px 0px 0px 3px $light-teal;
	-o-box-shadow: inset 0px 0px 0px 3px $light-teal;
	box-shadow: inset 0px 0px 0px 3px $light-teal;

	color:$coral;
}

footer {
	width: 100%;
	height: 20rem;
	background-color: $dark-teal;
	bottom: 0;
	clear: both;
	font-family: $body;
}

footer p {
	@include font-skinny;
	color: #fff;
}

.footer-link {
	padding-top: .5rem;
	padding-left: .5rem;
}

.footer-link a,
.footer-link a:link,
.footer-link a:visited {
	color: $light-teal;
}

.footer-link a:hover,
.footer-link a:focus,
.footer-link a:active {
	color: $coral;
}

.footer-link a:hover,
.footer-link a:active {
	outline: none;
}


@media screen and (min-width: 51.5625em) {
	footer {
		height: 15em;
	}

	.footer-social {
		overflow:auto;
	}

	.social li{
		float: right;
		overflow: auto;
	}

	.footer-address,
	.footer-copywright,
	.footer-link {
		float:left;
		overflow:auto;
		margin-left: 2em;
	}

}
