<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>{{page.title}} · READ GLOBAL</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{page.meta}}">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="noscript">
 	<!-- header --> 
  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">   

      <header class="header">
        <h1><span class="fat">READ</span> Global</h1>

        <a class="toggle-btn" href="#"><i class="i-menu"></i><span>Menu</span></a>

        <a class="btn-donate" href="#">Donate</a>

        <nav class="navigation slide-menu">
          <a class="close-btn" href="#"><i class="i-close"></i><span>Close</span></a>

          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Our Work</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Donate</a></li>
          </ul>
        </nav>
      <div class="header-text">
        <h2>We help build educational oppurtunies for children like Saeed and Mida.</h2>
      </div>

      </header><!-- /header -->  

{{content}}

	<footer>

		<div class="grid">

			<div class="search-form unit unit-s-1 unit-m-2 unit-l-2">
				<form>
					<span><input type="text" class="search rounded" placeholder="Search..."></span>
					<a class="btn btn-alt btn-search hide-text" href="#">Search</a>
				</form>
			</div>


			<div class="footer-social unit unit-s-1 unit-m-2 unit-l-2">

				<ul class= "social">
					<li>
						<a class="ease-all" href="https://www.facebook.com/READGlobal">
						<i class="icon-facebook"></i>
						<span class="hide-text">Facebook</span>
						</a>
					</li>

					<li>
						<a class="ease-all" href="https://twitter.com/READGlobal">
						<i class="icon-twitter"></i>
						<span class="hide-text">Twitter</span>
						</a>
					</li>

					<li>
						<a class="ease-all" href="https://www.pinterest.com/readglobal/">
						<i class="icon-pinterest"></i>
						<span class="hide-text">Pinterest</span>
						</a>
					</li>
				</ul>

			</div><!--closes footer-social-->
		</div> <!--closes grid -->


		<div class="grid">

			<div class="footer-address unit unit-s-1 unit-m-1-1 unit-l-1">
				<p> Rural Education and Development (READ)Global
			  <br>PO Box 29286 <br>San Francisco CA 94129</br></p>
			</div>

			<div class="footer-copywright unit unit-s-1 unit-m-1-1 unit-l-1">
				<p>© Copywright 2015, READ Global. All Rights Reserved </p>
			</div>

			<div class="footer-link ease-all unit unit-s-1 unit-m-1-1 unit-l-1-1">
				<a href ="#"> Privacy Policy</a>
			</div>

		</div> <!--closes grid -->

	</footer>
   
	   </div>  <!-- /sliding-canvas -->
	  </div>  <!-- /site-wrapper -->

  <!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/push-menu.js" type="text/javascript"></script>

</body>
</html>
