<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>{{page.title}} · READ GLOBAL</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{page.meta}}">
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>

{{content}}

<footer>

<div class="grid">

<div class="search-form unit unit-s-1 unit-m-2 unit-l-2">
	<form>
		<span><input type="text" class="search rounded" placeholder="Search..."></span>
		<a class="btn btn-alt btn-search hide-text" href="#">Search</a>
	</form>
</div>


		<div class="footer-social unit unit-s-1 unit-m-2 unit-l-2">

			<ul class= "social">
				<li>
					<a class="ease-all" href="https://www.facebook.com/READGlobal">
					<i class="icon-facebook"></i>
					<span class="hide-text">Facebook</span>
					</a>
				</li>

				<li>
					<a class="ease-all" href="https://twitter.com/READGlobal">
					<i class="icon-twitter"></i>
					<span class="hide-text">Twitter</span>
					</a>
				</li>

				<li>
					<a class="ease-all" href="https://www.pinterest.com/readglobal/">
					<i class="icon-pinterest"></i>
					<span class="hide-text">Pinterest</span>
					</a>
				</li>
			</ul>

		</div><!--closes footer-social-->
	</div>


	<div class="grid">
		<div class="footer-address unit unit-s-1 unit-m-1-1 unit-l-1">
			<p> Rural Education and Development (READ)Global
		  <br>PO Box 29286 <br>San Francisco CA 94129</br></p>
		</div>

		<div class="footer-copywright unit unit-s-1 unit-m-1-1 unit-l-1">
			<p>© Copywright 2015, READ Global. All Rights Reserved </p>
		</div>

		<div class="footer-link ease-all unit unit-s-1 unit-m-1-1 unit-l-1-1">
			<a href ="#"> Privacy Policy</a>
		</div>

	</div> <!--closes grid -->

</footer>


</body>
</html>
